* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(145deg, #090d2c, #0b0f34);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.App {

  text-align: center;
}

.title {
  height: 60px;
  margin-top: 0;
  padding-top: 8px;
  background:  linear-gradient(135deg, #b34c74, #cb1e1e);
  color:white;
  font-size: 30px;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.theme-selector{
  height:80px;
}
.box-size{
  margin: 0 auto 10px;
  padding: 10px;
  text-align: left;
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 80%;
  height: 400px!important;
}


button {
  width: 20%;
  margin:10px auto;
  background:  linear-gradient(135deg, #b34c74, #cb1e1e);
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
.view {
  margin-top: 10px;
  
}

.Menu{
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.Menu-link , .addBtn{
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  display: block;
  font-size: 12px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


.Menu-link:hover , .addBtn:hover, .btn-default:hover{
  text-decoration: none;
  color: #cb1e1e;
  transform: scale(1.05);
}
.Menu-link:focus , .addBtn:focus .btn-default:focus{
  color: #cb1e1e;
  outline: none;
  transform: scale(1);
}

.icons{
  margin-right: auto;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  margin: 0px auto;
  text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
}

p {
  font-size: 15px;
}


@media screen and (max-width: 768px) {
  .container {
    display: block;
    
  }

  .hi{
    display: none;
  }
  .box-size{
    width: 80%;
    height: 400px!important;
    overflow-y: scroll;
  }
  .editor{
    width:300px!important;
  }
}


